:root {
    --clr-text-main: #5E5D5E;
    --clr-text-h1: #7B7E54;
    --clr-text-nav: #727172;
    --clr-text-h2: #817F80;
    --clr-bg-skills: #F5F5F5;
    --clr-bg-contact: #F9E9E9;
    --clr-bg-header: #F9EFEF;

    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-special: 'Lora', serif;

    --fs-h1: 1.875rem;
    --fs-h2-header: 3.5rem;
    --fs-h2: 2.25rem;
    --fs-h3-email: 1.5rem;
    --fs-text: 1.25rem;
    --fs-nav: 1.125rem;

    --lh-h2-header: 5rem;
    --lh-h3-email: 2.25rem;
    --lh-text: 2.5rem;

    --section-spacing: 50px;

    @media (width > 740px) {
        --section-spacing: 100px;
        --fs-h2-header: 4.5rem;
        --fs-h2: 2.25rem;
    }
}

/********** GENERAL **********/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    /* outline: 1px solid red; */
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--ff-primary);
    color: var(--clr-text-main);
    font-size: var(--fs-text);
}

section {
    scroll-margin-top: 2rem;
}

h1,
h2,
h3 {
    font-family: var(--ff-special);
}

h2 {
    padding-block: 3rem;

}

h3 {
    line-height: var(--lh-h3-email);
    margin-block-start: 25px;
    font-family: var(--ff-primary);
}

p {
    line-height: var(--lh-text);
}


img {
    max-inline-size: 100%;
}

.container {
    margin: 0 auto;
    max-inline-size: 1200px;
    inline-size: 100%;
    padding: 0 15px;

    @media (min-width: 740px) {
        inline-size: 90%;
    }
}

/********** HEADER **********/

.hero {
    background: url('../img/full-background.png') no-repeat var(--clr-bg-header);
    block-size: 95vh;
    background-size: cover;
    background-position: center;

    @media (width > 740px) {
        block-size: 80vh;
    }
}

.title {
    color: var(--clr-text-h1);
    font-size: var(--fs-h1);

    @media (width > 1065px) {
        margin: 25px 0;
    }
}

.title a {
    color: inherit;
    text-decoration: none;
    text-transform: none;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-block: 50px;
    position: relative;

}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0;
}

.nav__link {
    padding-inline: 1.5rem;
    transition: transform 0.3s ease;
}

.nav__link:hover,
.nav__link:focus-visible {
    transform: translateY(-3px);

}

a {
    text-transform: uppercase;
    color: var(--clr-text-nav);
}

a:hover,
a:focus-visible {
    color: var(--clr-text-h1);
}

.nav__link a {
    text-decoration: none;
}

.greeting {
    color: var(--clr-text-h2);
    font-size: var(--fs-h2-header);
    line-height: var(--lh-h2-header);
}

/********** HAMBURGER MENU **********/


.nav__toggle {
    display: none;
}

.nav__toggle-label {
    cursor: pointer;
    padding: 1rem;
    display: block;
    z-index: 20;
    position: absolute;
    right: 0;
}

.nav__toggle-label span,
.nav__toggle-label span::before,
.nav__toggle-label span::after {
    display: block;
    background: var(--clr-text-h1);
    block-size: 2px;
    inline-size: 2rem;
    position: relative;
    transition: all 0.3s ease;
}

.nav__toggle-label span::before,
.nav__toggle-label span::after {
    content: '';
    position: absolute;
}

.nav__toggle-label span::before {
    bottom: 7px;
}

.nav__toggle-label span::after {
    top: 7px;
}

nav ul {
    display: none;
    inline-size: 100%;
    background: var(--clr-bg-skills);
    position: absolute;
    top: 75%;
    z-index: 10;
    flex-direction: column;
    align-items: center;
    padding-block: 50px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.nav__toggle:checked~ul {
    display: flex;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (width > 1065px) {
    .nav__toggle-label {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        position: static;
        background: inherit;
        box-shadow: none;
        max-inline-size: 70%;
    }
}

.nav__toggle:checked+.nav__toggle-label span {
    background: transparent;
}

.nav__toggle:checked+.nav__toggle-label span::before {
    transform: rotate(45deg);
    bottom: 0;
}

.nav__toggle:checked+.nav__toggle-label span::after {
    transform: rotate(-45deg);
    top: 0;
}

/********** ABOUT **********/

#about .container {
    padding-block: var(--section-spacing);
    display: grid;
    justify-content: center;
}

#about h2 {
    font-size: var(--fs-h2);
}

.container__text {
    max-inline-size: 75ch;
}

.container__text p:last-of-type {
    padding-block-start: 2rem;
}

@media (width > 1065px) {

    #about .container {
        max-inline-size: 80%;
    }

    .container__text {
        display: flex;
        justify-content: space-between;
        gap: 2.5rem;
        max-inline-size: none;
    }

    #about h2 {
        grid-column: 1 / -1;
    }

    #about p {
        max-inline-size: 50ch;
    }

    .container__text p:last-of-type {
        padding-block-start: 0;
    }
}

/********** SKILLS **********/

#skills {
    background: var(--clr-bg-skills);
}

#skills .container {
    text-align: center;
    padding-block: var(--section-spacing);
    display: grid;
    justify-content: center;
}

.skill-card {
    padding-block: 25px;
    max-inline-size: 50ch;

    @media (width > 740px) {
        margin: 0 auto;
        max-inline-size: 30ch;

    }
}

@media (width > 1065px) {
    #skills .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
    }

    #skills h2 {
        grid-column: 1 / -1;
    }
}

#skills h3 {
    padding-block-end: 1rem;
}

/********** FOOTER **********/

#contact {
    background: var(--clr-bg-contact);
    inline-size: 100%;
}

#contact .container {
    padding-block: var(--section-spacing);
    display: flex;
    flex-direction: column;
    align-items: center;


    @media (width > 740px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
}

.contact__image {
    max-inline-size: 400px;

    @media (width < 740px) {
        margin-block-end: 25px;
    }
}

#contact__img {
    border: 10px solid white;
    display: block;
}

#email__header {
    padding-block-end: 15px;
}

#email {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    text-transform: none;
}

#email img {
    transition: transform 0.3s ease;

}

#email img:hover,
#email img:focus-visible {
    transform: translateY(-3px);
}

.contact__info h3 {
    font-weight: 400;
}

.contact__info ul {
    padding-block-start: 15px;
    padding-block-end: 25px;
}

.contact__socials li {
    inline-size: 25px;
    block-size: 25px;
    text-align: center;
}

.contact__info li {
    transition: transform 0.3s ease;

}

.contact__info li:hover,
.contact__info li:focus-visible {
    transform: translateY(-3px);

}

#go-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;

    inline-size: fit-content;
    background: var(--clr-bg-skills);
    padding: 1rem;
    border-radius: 50vw;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;

    text-decoration: none;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#go-to-top:hover,
#go-to-top:focus-visible {
    transform: translateY(-3px);
    transition: transform 0.3s ease;
}

/********** PROJECTS **********/

.hero__projects {
    background: var(--clr-bg-header);
}

#projects {
    padding-block: 50px;
}

.project__piece {
    margin-block-end: 50px 25px;
    padding: 15px;
}

.projects__title {
    text-align: center;
    padding-block: 50px;
}

.projects__subtitle {
    text-align: center;
    margin-block-end: 25px;
}

.project__piece p {
    padding-block-end: 50px;
}


@media (width > 1065px) {

    .projects__list {
        display: flex;
        gap: 2rem;
    }
}