:root {
    --clr-text-main: #5E5D5E;
    --clr-text-h1: #7B7E54;
    --clr-text-nav: #727172;
    --clr-text-h2: #817F80;
    --clr-bg-skills: #F5F5F5;
    --clr-bg-contact: #F9E9E9;
    --clr-bg-header: #F9EFEF;

    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-special: 'Lora', serif;

    --fs-h1: 1.875rem;
    --fs-h2-header: 4.5rem;
    --fs-h2: 2.25rem;
    --fs-h3-email: 1.5rem;
    --fs-text: 1.25rem;
    --fs-nav: 1.125rem;

    --lh-h2-header: 5rem;
    --lh-h3-email: 2.25rem;
    --lh-text: 2.5rem;

    --section-spacing: 50px;

    @media (width > 740px) {
        --section-spacing: 100px;
    }

    @media (width < 740px) {
        --fs-h2-header: 3.5rem;
        --fs-h1: 1.4rem;
        --fs-nav: 1rem;
    }
}

/********** GENERAL **********/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    /* outline: 1px solid red; */
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--ff-primary);
    color: var(--clr-text-main);
    font-size: var(--fs-text);
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

section {
    scroll-margin-top: 2rem;
}

h1,
h2,
h3 {
    font-family: var(--ff-special);
}

h3 {
    line-height: var(--lh-h3-email);
    margin-top: 25px;
    font-family: var(--ff-primary);
}

p {
    line-height: var(--lh-text);
}


img {
    max-width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;

    @media (min-width: 740px) {
        width: 90%;
    }
}

/********** HEADER **********/

.hero {
    background: url('../img/full-background.png') no-repeat var(--clr-bg-header);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.title {
    color: var(--clr-text-h1);
    margin: 15px auto;

    @media (width > 740px) {
        margin: 25px 0;
    }
}

.divider {
    height: 1px;
    background-color: var(--clr-text-nav);
    opacity: 0.2;
    margin-block: 10px;

    @media (width > 740px) {
        display: none;
    }
}

nav {
    display: flex;
    flex-direction: column;
    padding-top: 50px;

    @media (width > 740px) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-block: 50px;
    }
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    padding: 0;
}

.nav__link {
    padding-inline: 1.5rem;
    transition: transform 0.3s ease;
}

.nav__link:hover {
    transform: translateY(-3px);

}

a {
    text-transform: uppercase;
    color: var(--clr-text-nav);
}

a:hover {
    color: var(--clr-text-h1);
}

.greeting {
    color: var(--clr-text-h2);
    font-size: var(--fs-h2-header);
    line-height: var(--lh-h2-header);
    margin: 50px auto;

    @media (width > 740px) {
        margin: 50px 0;
    }
}

/********** ABOUT **********/

#about .container {
    padding-block: var(--section-spacing);
}

#about h2 {
    font-size: var(--fs-h2);
    padding-block: 25px;
}

.container__text p:last-of-type {
    padding-top: 2rem;
}

@media (width > 1000px) {

    #about .container {
        width: 80%;
    }

    .container__text {
        display: flex;
        justify-content: space-between;
        gap: 2.5rem;
    }

    #about h2 {
        grid-column: 1 / -1;
    }

    #about p {
        max-width: 50ch;
    }

    .container__text p:last-of-type {
        padding-top: 0;
    }
}

/********** SKILLS **********/

#skills {
    background: var(--clr-bg-skills);
}

#skills .container {
    text-align: center;
    padding-block: var(--section-spacing);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-card {
    padding-block: 25px;
    max-width: 50ch;

    @media (width > 740px) {
        margin: 0 auto;
        max-width: 30ch;

    }
}

@media (width > 1000px) {
    #skills .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
    }

    #skills h2 {
        grid-column: 1 / -1;
    }
}

#skills h3 {
    padding-bottom: 1rem;
}

/********** FOOTER **********/

#contact {
    background: var(--clr-bg-contact);
    width: 100%;
}

#contact .container {
    padding-block: var(--section-spacing);
    display: flex;
    flex-direction: column;
    align-items: center;


    @media (width > 740px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
}

.contact-image {
    max-width: 90%;
}

#contact-img {
    border: 10px solid white;
    display: block;
}

#email-header {
    padding-bottom: 15px;
}

#email {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    text-transform: none;
}

#email img:hover {
    transform: translateY(-3px);
    transition: transform 0.3s ease;

}

.contact-info h3 {
    font-weight: 400;
}

.contact-info ul {
    padding-top: 15px;
    padding-bottom: 25px;
    width: fit-content;
}

.contact-info li:hover {
    transform: translateY(-3px);
    transition: transform 0.3s ease;
}

#go-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;

    width: fit-content;
    background: var(--clr-bg-skills);
    padding: 1rem;
    border-radius: 50vw;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;

    text-decoration: none;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#go-to-top:hover {
    transform: translateY(-3px);
    transition: transform 0.3s ease;
}